/* coloring: used all 4 under Color and used background-color under background 
the img used and alpha value of .5 */
h1 {
    color: purple;
    text-decoration: underline;
    text-align:center;
    }

h2{
    background-color: black;
    color: green;
    margin-top:1px; margin-bottom:1px; margin-left:1px; margin-right:2px;
}

h3{
    color: #808000;
    background-color: black;
    margin: 1px 2px 1px 2px;
}

h4{
    background-color: black;
    color: hsl(30, 100%, 50%);
    margin: auto;
}
img{
    background-color: wheat;
    opacity: .5;
    padding: 1px 2px 1px 2px;

    display: block;
    height: auto;
    width: auto;
    max-width: auto;
    min-width: auto;   
}

body{
    background-color: aqua;
}
ol, li{
    padding-top:5px; padding-bottom:5px; padding-left:2px; padding-right:2px;
}

*{
    margin: auto;
}

p:hover {
    border: 1px solid blue;
  } 

  body div{
      border-style: solid;
      border-color: blue;
      border-width: auto;
      border-radius: auto;
  }

  nav>li{
    background-color: dodgerblue;
  }

  p ~ span{
      color: red;
  }

  li:first-of-type + li {
    color:rebeccapurple;
  }
  audio{
      display:block;
  }
video{
    display:inline-block;
}